@using System.Reflection
@using XCode
@using XCode.Configuration
@using NewLife.CMX;
@{
    var fact = EntityFactory.CreateOperate(ViewData.ModelMetadata.ModelType);
    var fields = ViewBag.Fields as List<FieldItem>;
    var isNew = (Model as IEntity).IsNullKey;
    var entity = Model as IEntity;
    var article = Model as IArticle;
}
<div class="panel panel-default">
    <div class="form-horizontal">
        @if (ViewBag.StatusMessage != null)
        {
            <div class="alert alert-success alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@ViewBag.StatusMessage</strong>
            </div>
        }
        @using (Html.BeginForm((isNew ? "Add" : "Edit"), null, new { id = Model[fact.Unique.Name] }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                <label class="control-label col-md-2">标题</label>
                <div class="col-md-6">
                    @Html.ForEditor(Article._.Title, entity)
                </div>
            </div>
            <div class="form-group">
                @{var item = Article._.CategoryID;}
                <label class="control-label col-md-2">@item.DisplayName</label>
                <div class="col-md-2">
                    @Html.DropDownList(item.Name, ArticleCategory.FindAllWithCache().ToList().Select(r => new SelectListItem { Text = r.Name, Value = r.ID + "" }))
                </div>
                @{ item = Article._.Views;}
                <label class="control-label col-md-1">@item.DisplayName</label>
                <div class="col-md-2">
                    @Html.ForEditor(item, entity)
                </div>
                <label class="control-label col-md-1">版本</label>
                <div class="col-md-2">
                    <span>@article.Version</span>
                </div>
            </div>
            <div class="form-group">
                @{ item = Article._.Top;}
                <label class="control-label col-md-2">@item.DisplayName</label>
                <div class="col-md-1">
                    @Html.ForEditor(item, entity)
                </div>
                @{ item = Article._.Recommend;}
                <label class="control-label col-md-1">@item.DisplayName</label>
                <div class="col-md-1">
                    @Html.ForEditor(item, entity)
                </div>
                @{ item = Article._.Hot;}
                <label class="control-label col-md-1">@item.DisplayName</label>
                <div class="col-md-1">
                    @Html.ForEditor(item, entity)
                </div>
                @{ item = Article._.Slide;}
                <label class="control-label col-md-1">@item.DisplayName</label>
                <div class="col-md-1">
                    @Html.ForEditor(item, entity)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">内容</label>
                <div class="col-md-6">
                    <script src="~/Content/ueditor/ueditor.config.js"></script>
                    <script src="~/Content/ueditor/ueditor.all.min.js"></script>
                    <script src="~/Content/ueditor/lang/zh-cn/zh-cn.js"></script>
                    <script id="ContentText" name="ContentText" type="text/plain" style="width:800px;height:400px;">
                        @Html.Raw(article.ContentText)
                    </script>
                    <script type="text/javascript">
                        //实例化编辑器
                        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
                        var ue = UE.getEditor('ContentText');
                    </script>
                </div>
            </div>
            @Html.Partial("_UserTime", Model as IEntity)
            @Html.Partial("_Form_Action", isNew)
        }
    </div>
</div>