@using System.Reflection
@using XCode
@using XCode.Configuration
@using NewLife.CMX;
@using NewLife.CMX.Web;
@{
    var fact = EntityFactory.CreateOperate(ViewData.ModelMetadata.ModelType);
    var fields = ViewBag.Fields as List<FieldItem>;
    var isNew = (Model as IEntity).IsNullKey;
    var entity = Model as IEntity;
    var article = Model as IArticle;
    var inf = (Model as IInfoExtend).Info;
}
<div class="panel panel-default">
    <div class="form-horizontal">
        @if (ViewBag.StatusMessage != null)
        {
            <div class="alert alert-success alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@ViewBag.StatusMessage</strong>
            </div>
        }
        @using (Html.BeginForm((isNew ? "Add" : "Edit"), null, new { id = Model[fact.Unique.Name] }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                <label class="control-label col-md-2">标题</label>
                <div class="col-md-10">
                    @Html.ForEditor("Title", inf)
                    &nbsp;
                    @if (!isNew)
                    {
                        <a href="@this.GetUrl(inf)" target="_blank">
                            预览
                        </a>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">分类</label>
                <div class="col-md-2">
                    @{
            var data = new SelectList(Category.Root.AllChilds, "ID", "TreeNodeText", inf.CategoryID);
                    }
                    @Html.DropDownList("CategoryID", data, new { @class = "multiselect" })
                </div>
                <div class="col-md-3">
                    <label class="control-label">访问量</label>
                    <span>@inf.Views</span>
                    <label class="control-label">版本</label>
                    <span>@inf.Version</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">来源</label>
                <div class="col-md-2">
                    @Html.ForDropDownList(Article._.SourceID, Source.FindAllVisible(), null, false)
                </div>
                <div class="col-md-3">
                    <label class="control-label col-md-2">名称</label>
                    <div class="col-md-10">
                        @Html.ForEditor(Article._.SourceName, entity)
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label col-md-2">地址</label>
                    <div class="col-md-10">
                        @Html.ForEditor(Article._.SourceUrl, entity)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">内容</label>
                <div class="col-md-6">
                    <script src="~/Content/ueditor/ueditor.config.js"></script>
                    <script src="~/Content/ueditor/ueditor.all.min.js"></script>
                    <script src="~/Content/ueditor/lang/zh-cn/zh-cn.js"></script>
                    <script id="ContentText" name="ContentText" type="text/plain" style="width:800px;height:400px;">
                        @Html.Raw(inf.ContentText)
                    </script>
                    <script type="text/javascript">
                        //实例化编辑器
                        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
                        var ue = UE.getEditor('ContentText');
                    </script>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">摘要</label>
                <div class="col-md-6">
                    @Html.TextArea("Summary", inf.Summary, 5, 100, null)
                </div>
            </div>
            <div class="form-group">
                @{ var item = Article._.Top;}
                <label class="control-label col-md-2">@item.DisplayName</label>
                <div class="col-md-1">
                    @Html.ForEditor(item, entity)
                </div>
                @{ item = Article._.Recommend;}
                <label class="control-label col-md-1">@item.DisplayName</label>
                <div class="col-md-1">
                    @Html.ForEditor(item, entity)
                </div>
                @{ item = Article._.Hot;}
                <label class="control-label col-md-1">@item.DisplayName</label>
                <div class="col-md-1">
                    @Html.ForEditor(item, entity)
                </div>
                @{ item = Article._.Slide;}
                <label class="control-label col-md-1">@item.DisplayName</label>
                <div class="col-md-1">
                    @Html.ForEditor(item, entity)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">封面</label>
                <div class="col-md-10">
                    @Html.ForEditor(Article._.Cover, entity)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">发布时间</label>
                <div class="col-md-2 input-group">
                    @Html.ForEditor("PublishTime", inf)
                </div>
            </div>
            @Html.Partial("_UserTime", Model as IEntity)
            @Html.Partial("_Form_Action", isNew)
        }
    </div>
</div>
<script type="text/javascript">
    $("#@Article._.SourceID").change(
           function () {
               var v = $("#@Article._.SourceID").val();
               $.ajax({
                   type: "Post",//使用get方法访问后台
                   dataType: "json",//返回json格式的数据
                   url: '/CMS/Article/GetSource/' + v,//要访问的后台地址
                   success: function (msg) {//msg为返回的数据，在这里做数据绑定
                       $("#@Article._.SourceName").attr("value", msg.Name);
                       $("#@Article._.SourceUrl").attr("value", msg.Url);
                   }
               });
           });
</script>