@model NewLife.CMX.IInfo
@using XCode
@using XCode.Configuration
@using NewLife.CMX
@using NewLife.CMX.Web
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var fields = ViewBag.Fields as List<FieldItem>;
    var entity = Model as IEntity;
    var isNew = entity.IsNullKey;


    var inf = Model as IInfo;
}
<div class="form-group">
    <label class="control-label col-md-2">标题</label>
    <div class="col-md-7">
        @Html.ForEditor("Title", inf.Title, typeof(String))
    </div>
    @if (!isNew)
    {
        <div class="col-md-1">
            <a href="@this.GetUrl(inf)" class="btn btn-info btn-sm" target="_blank">
                <i class="glyphicon glyphicon-search"></i>
                预览
            </a>
        </div>
    }
</div>
<div class="form-group">
    <label class="control-label col-md-2">编码</label>
    <div class="col-md-3" title="友好地址名，只能使用字母、数字、-连字符、_下划线">
        @Html.ForEditor("Code", inf.Code, typeof(String))
    </div>
    <label class="control-label col-md-2">分类</label>
    <div class="col-md-3">
        @{
            var data = new SelectList(Category.Root.AllChilds, "ID", "TreeNodeText", inf.CategoryID);
        }
        @Html.DropDownList("CategoryID", data, new { @class = "multiselect" })
    </div>
    <div class="col-md-2">
        <label class="control-label">访问量</label>
        <span>@inf.Views</span>
        <label class="control-label">版本</label>
        <span>@inf.Version</span>
    </div>
</div>