@using System.Reflection
@using XCode
@using XCode.Configuration
@using NewLife.CMX
@{
    Layout = "~/Views/Shared/_Ace_Layout.cshtml";
    var fact = ViewBag.Factory as IEntityOperate;
    var fields = ViewBag.Fields as List<FieldItem>;
    var entity = Model as IEntity;
    var isNew = (Model as IEntity).IsNullKey;

    // 创建更新等信息统一放在尾部
    var names = new String[] {
        "CreateUserID", "CreateUserName", "CreateTime",
        "UpdateUserID", "UpdateUserName", "UpdateTime",
        "Remark" };
    fields = fields.Where(e => !e.Name.EqualIgnoreCase(names)).ToList();
}
<div class="panel panel-default">
    <div class="form-horizontal">
        @if (ViewBag.StatusMessage != null)
        {
            <div class="alert alert-success alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@ViewBag.StatusMessage</strong>
            </div>
        }
        @using (Html.BeginForm((isNew ? "Add" : "Edit"), null, new { id = entity[fact.Unique.Name] }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            foreach (var item in fields)
            {
                if (!item.PrimaryKey)
                {
                    <div class="form-group">
                        @Html.Partial("_Form_Item", new Pair(entity, item))
                    </div>
                }
            }
            if (entity is IUserInfo || entity is ITimeInfo)
            {
                @Html.Partial("_UserTime", entity as IEntity)
            }
            var remark = fact.Table.FindByName("Remark") as FieldItem;
            if (remark != null)
            {
                <div class="form-group">
                    <label class="control-label col-md-2">@remark.DisplayName</label>
                    <div class="input-group col-md-6">
                        @Html.ForString(remark.Name, (String)entity[remark.Name], -1)
                        @Html.ForDescription(remark)
                    </div>
                </div>
            }
            @Html.Partial("_Form_Action", isNew)
        }
    </div>
</div>