@model NewLife.CMX.IInfo
@using System.Reflection
@using XCode
@using XCode.Configuration
@using NewLife.CMX;
@using NewLife.CMX.Web;
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var entity = Model as IEntity;
    var isNew = entity.IsNullKey;
    var inf = Model as IInfo;
    var article = inf.Ext as IArticle ?? new Article();
}
<div class="panel panel-default">
    <div class="form-horizontal">
        @Html.Partial("_Form_Header", entity)
        @using (Html.BeginForm((isNew ? "Add" : "Edit"), null, new { id = Model[fact.Unique.Name] }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.Partial("_Form_Title", entity)
            <div class="form-group">
                <label class="control-label col-sm-2">来源</label>
                <div class="col-sm-2">
                    @Html.ForDropDownList(Article._.SourceID, Source.FindAllVisible().Cast<IEntity>().ToList(), null, false)
                </div>
                <div class="col-sm-4">
                    <label class="control-label col-md-4">名称</label>
                    <div class="col-md-8">
                        <input class="form-control" id="SourceName" name="SourceName" type="text" value="@article.SourceName" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="control-label col-md-4">地址</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input class="form-control" id="SourceUrl" name="SourceUrl" type="text" value="@article.SourceUrl" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2">内容</label>
                <div class="col-sm-10 col-md-6">
                    @Html.Partial("_Form_Content", entity)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">摘要</label>
                <div class="col-md-6">
                    <textarea cols="100" name="Summary" rows="5">@inf.Summary</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">置顶</label>
                <div class="col-md-2">
                    @Html.CheckBox("Top", @article.Top, new { @class = "chkSwitch" })
                </div>
                <label class="control-label col-md-1">推荐</label>
                <div class="col-md-2">
                    @Html.CheckBox("Recommend", @article.Recommend, new { @class = "chkSwitch" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">热门</label>
                <div class="col-md-2">
                    @Html.CheckBox("Hot", @article.Hot, new { @class = "chkSwitch" })
                </div>
                <label class="control-label col-md-1">幻灯片</label>
                <div class="col-md-2">
                    @Html.CheckBox("Slide", @article.Slide, new { @class = "chkSwitch" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">封面</label>
                <div class="col-md-6">
                    <input class="form-control" name="Cover" type="text" value="@article.Cover" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">发布时间</label>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input class="form-control date form_datetime" data-val="true" name="PublishTime" type="text" value="@inf.PublishTime.ToFullString("")" />
                    </div>
                </div>
            </div>
            @Html.Partial("_Form_Footer", entity)
            @Html.Partial("_Form_Action", entity)
        }
    </div>
</div>
<script type="text/javascript">
    $("#SourceID").change(
        function () {
            var v = $("#SourceID").val();
            $.ajax({
                type: "Post",//使用get方法访问后台
                dataType: "json",//返回json格式的数据
                url: '/CMS/Source/Get/' + v,//要访问的后台地址
                success: function (msg) {//msg为返回的数据，在这里做数据绑定
                    $("#SourceName").attr("value", msg.Name);
                    $("#SourceUrl").attr("value", msg.Url);
                }
            });
        });
</script>