@using NewLife.Model;
@using NewLife.CMX;
@{
    var user = ManageProvider.Provider.Current as IUser;

    var fact = ObjectContainer.Current.Resolve<IMenuFactory>();

    var Menus = fact.Root.Childs;
    if (user != null && user.Role != null)
    {
        Menus = fact.GetMySubMenus(fact.Root.ID);
    }

    // 如果顶级只有一层，并且至少有三级目录，则提升一级
    if (Menus.Count == 1 && Menus[0].Childs.All(m => m.Childs.Count > 0)) { Menus = Menus[0].Childs; }

    String[] icos = new String[] { "fa-tachometer", "fa-desktop", "fa-list", "fa-pencil-square-o", "fa-list-alt", "fa-calendar", "fa-picture-o", "fa-tag", "fa-file-o" };
    Int32 _idx = 0;
}
<ul class="nav nav-list">
    @foreach (IMenu menu in Menus.Where(m => m.Visible))
    {
        if (_idx >= icos.Length) { _idx = 0; }
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa @icos[_idx++]"></i>
                <span class="menu-text">@menu.DisplayName</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                @foreach (IMenu menu2 in menu.Childs.Where(m => m.Visible))
                {
                    <li>
                        @if (menu2.Childs.Count > 0)
                        {
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @menu2.DisplayName
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Content(menu2.Url)" target="main">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @menu2.DisplayName
                            </a>
                        }

                        <b class="arrow"></b>
                        <ul class="submenu">
                            @foreach (IMenu menu3 in menu2.Childs.Where(m => m.Visible))
                            {
                                <li>
                                    <a href="@Url.Content(menu3.Url)" target="main">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        @menu3.DisplayName
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
    @*遍历产生内容管理菜单*@
    @foreach (var chn in Channel.FindAllWithCache().ToList().Where(e => e.Enable))
    {
        var provider = chn.Model.Provider;
        var cats = (provider.CategoryFactory.Default as IEntityTree).Childs;
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa @icos[_idx++]"></i>
                <span class="menu-text">@chn.DisplayName</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li>
                    <a href="~/CMS/@(chn.Model.Name)Category/@chn.ID" target="main">
                        <i class="menu-icon fa fa-caret-right"></i>
                        分类管理
                    </a>
                </li>
                @foreach (IEntityCategory cat in cats)
                {
                    <li>
                        @if (cat.Childs.Count > 0)
                        {
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @cat.Name
                            </a>
                        }
                        else
                        {
                            <a href="~/CMS/@(chn.Model.Name)/@(chn.ID)_@cat.ID" target="main">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @cat.Name
                            </a>
                        }
                        <b class="arrow"></b>
                        <ul class="submenu">
                            @foreach (IEntityCategory cat2 in cat.Childs)
                            {
                                <li>
                                    @if (cat2.Childs.Count > 0)
                                    {
                                        <a href="#" class="dropdown-toggle">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            @cat2.Name
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="~/CMS/@(chn.Model.Name)/@(chn.ID)_@cat2.ID" target="main">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            @cat2.Name
                                        </a>
                                    }
                                    <b class="arrow"></b>
                                    <ul class="submenu">
                                        @foreach (IEntityCategory cat3 in cat2.Childs)
                                        {
                                            <li>
                                                <a href="~/CMS/@(chn.Model.Name)/@(chn.ID)_@cat3.ID" target="main">
                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                    @cat3.Name
                                                </a>
                                                <b class="arrow"></b>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
<!-- /.nav-list -->
