@{
    var header = Nav.Root.FindByPath("头部") ?? Nav.Root;
}
<div class="container">
    <div class="row">
        <div style="float: left;">
            <a href="/" data-title="logo"><img src="~/Content/images/logo.png" alt="网站Logo" /></a>
        </div>
        <nav class="navbar">
            <ul class="nav nav-tabs">
                @foreach (var nav in header.Childs)
                {
                    if (nav.Childs.Count == 0)
                    {
                        <li role="presentation"><a href="@nav.Url" class="active">@nav.Name</a></li>
                    }
                    else
                    {
                        <li role="presentation" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@nav.Name<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var item in nav.Childs)
                                {
                                    <li><a href="@item.Url" class="">@item.Name</a></li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>