@{
    ViewBag.Title = "首页";
}
<div class="jumbotron">
    <p>
        <h1>学无先后达者为师</h1>
    </p>
</div>
<div class="benefits container">
    @foreach (var chn in Channel.FindAllWithCache())
    {
        var cats = chn.AllCategories;
        if (chn.Enable && cats.Count > 0)
        {
            var width = 12 / cats.Count;
            var left = 12 - width * cats.Count;
            var right = left / 2;
            left -= right;
            <div class="row" channel="@chn.Name">
                @if (left > 0)
                {
                    <div class="col-md-@left"></div>
                }
                @foreach (var cat in chn.Categories)
                {
                    <div class="col-md-@width">
                        <h2>@cat.Name</h2>
                        <div class="widget_list lz_con fixed tab_list show">
                            <ul>
                                @foreach (var item in cat.GetTitles(1, 5))
                                {
                                    <li>
                                        [<a href="@this.GetCategoryUrl(item.Category)" target="_blank">
                                            <i></i>@item.CategoryName
                                        </a>]
                                        <a href="@this.GetUrl(item)" target="_blank">
                                            <i></i>@item.Title
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
                @if (right > 0)
                {
                    <div class="col-md-@right"></div>
                }
            </div>
        }
    }
</div>
