@using System.Reflection
@using XCode
@using XCode.Configuration
@using NewLife.CMX;
@{
    var fact = EntityFactory.CreateOperate(ViewData.ModelMetadata.ModelType);
    var fields = ViewBag.Fields as List<FieldItem>;
    var isNew = (Model as IEntity).IsNullKey;
    var entity = Model as IEntity;
    var product = Model as IProduct;
}
<div class="panel panel-default">
    <div class="form-horizontal">
        @if (ViewBag.StatusMessage != null)
        {
            <div class="alert alert-success alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@ViewBag.StatusMessage</strong>
            </div>
        }
        @using (Html.BeginForm((isNew ? "Add" : "Edit"), null, new { id = Model[fact.Unique.Name] }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                <label class="control-label col-md-2">标题</label>
                <div class="col-md-6">
                    @Html.ForEditor(Product._.Title, entity)
                </div>
            </div>
            <div class="form-group">
                @{var item = Product._.CategoryID;}
                <label class="control-label col-md-2">@item.DisplayName</label>
                <div class="col-md-2">
                    @Html.DropDownList(item.Name, ProductCategory.FindAllWithCache().ToList().Select(r => new SelectListItem { Text = r.Name, Value = r.ID + "" }))
                </div>
                @{ item = Product._.Views;}
                <label class="control-label col-md-1">@item.DisplayName</label>
                <div class="col-md-2">
                    @Html.ForEditor(item, entity)
                </div>
                <label class="control-label col-md-1">版本</label>
                <div class="col-md-2">
                    <span>@product.Version</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">价格</label>
                <div class="col-md-2">
                    @Html.ForEditor(Product._.Price, entity)
                </div>
                <label class="control-label col-md-1">图片</label>
                <div class="col-md-2">
                    @Html.ForEditor(Product._.PhotoPath, entity)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">内容</label>
                <div class="col-md-6">
                    @Html.TextArea("ContentText", (String)entity["ContentText"], 10, 20, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">创建</label>
                <div class="col-md-2">
                    <span>@product.CreateUserName</span>
                    <span>@product.CreateTime.ToFullString()</span>
                </div>
                <label class="control-label col-md-1">更新</label>
                <div class="col-md-2">
                    <span>@product.UpdateUserName</span>
                    <span>@product.UpdateTime.ToFullString()</span>
                </div>
            </div>
            @Html.Partial("_Form_Action", isNew)
        }
    </div>
</div>