@model NewLife.CMX.IInfo
@using System.Reflection
@using XCode
@using XCode.Configuration
@using NewLife.CMX;
@using NewLife.CMX.Web;
@{
    var fact = EntityFactory.CreateOperate(ViewData.ModelMetadata.ModelType);

    var entity = Model as IEntity;
    var isNew = entity.IsNullKey;
    var inf = Model as IInfo;
    var product = inf.Ext as IProduct;
}
<div class="panel panel-default">
    <div class="form-horizontal">
        @Html.Partial("_Form_Header", entity)
        @using (Html.BeginForm((isNew ? "Add" : "Edit"), null, new { id = Model[fact.Unique.Name] }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.Partial("../Info/_Form_Title", entity)
            <div class="form-group">
                <label class="control-label col-md-2">价格</label>
                <div class="col-md-2">
                    @Html.ForEditor(Product._.Price, entity)
                </div>
                <label class="control-label col-md-1">图片</label>
                <div class="col-md-2">
                    @Html.ForEditor(Product._.PhotoPath, entity)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">内容</label>
                <div class="col-md-6">
                    @Html.Partial("../Info/_Form_Content", entity)
                </div>
            </div>
            @Html.Partial("_Form_Footer", entity)
            @Html.Partial("_Form_Action", entity)
        }
    </div>
</div>